@import '../../common.scss';

.wrapper {
  @include flex;
  flex-direction: column;
  gap: 4rem;
  margin-bottom: 16rem;
  .row {
    @include flex;
    gap: 2rem;
    @media screen and (max-width: 600px) {
      flex-direction: column;
      gap: 0;
    }
  }
  .select {
    @include flex;
    justify-content: space-between;
    width: 16rem;
    height: 3rem;
    padding: 0 0.75rem;
    background: linear-gradient(
      90deg,
      rgba(255, 139, 180, 0.5) 0%,
      rgba(119, 198, 255, 0.5) 100%
    );
    border-radius: 1.5rem;
    @media screen and (max-width: 600px) {
      &:first-child {
        border-radius: 1.5rem 1.5rem 0 0;
      }
      border-radius: 0 0 1.5rem 1.5rem;
    }
    .button {
      @include flex;
      font-family: $font-secondary;
      font-weight: 500;
      font-size: 1rem;
      text-transform: capitalize;
      color: $secondary;
      width: 7rem;
      user-select: none;
      cursor: pointer;
      &[datatype="primary"] {
        color: $primary;
      }
      &[datatype="secondary"] {
        color: $secondary;
      }
      &[datatype='active primary'] {
        color: white;
        width: 7rem;
        height: 2rem;
        border-radius: 1rem;
        background-color: $primary; 
      }
      &[datatype='active secondary'] {
        color: white;
        width: 7rem;
        height: 2rem;
        border-radius: 1rem;
        background-color: rgba($color: $secondary, $alpha: 0.25); 
      }
      .image {
        display: relative;
        width: 1rem;
        height: 1rem;
        margin-right: 0.25rem;
      }
    }
  }
  .cardWrapper {
    @include flex;
    max-width: clamp(300px, 90vw, 1600px);
    flex-wrap: wrap;
    gap: 4rem;
  }
}
